@font-face
{
    font-family:"Pokemon";
    src:url("fonts/pokemon.ttf");   
}


body{
    text-transform:capitalize;
    background: linear-gradient(180deg, #adadad, #8f8f8f);
    

}
a{
    text-decoration: none;
    color: black;
}

.nav-bar {
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #d40e00;
    height: 150px;
    margin-bottom: 100px;
    -webkit-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.57);
    text-align:center;
    height:230px;
    vertical-align:middle;
    line-height: 1px;
  }

.nav-bar h1{
    font-size: 125px;
    
    font-family:"Pokemon";
    font-weight: bolder;
}



li {
    list-style-type: none;
    background-image: url("texture.jpg");
   
    text-align:center;
    border:4px solid rgb(3, 3, 3);
    box-sizing:border-box;
    float:left;
    height:500px;
    width:310px;
    transition: transform .2s;
    margin: 20px;
    padding-top: 0%;
 }



li:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }











#moreinfo
    {
        z-index:1;
        background-color: rgba(255, 255, 255, 0.479);
        position: fixed;
        top: 10%;
        bottom: 10%;
        right: 10%;
        left: 10%;
        transition: transform .2s;
        border: 4px solid rgb(161, 161, 161);
        text-align: center;
 }   
   

#moreinfo:hover {
    transform: scale(1.1); 
  }


#myButton{
    width:100px;
    height:100px;
    float:right;
    transition: transform .2s;
}
#moreinfo:hover {
    transform: scale(1.1); 
  }


#detailedname{
    background: linear-gradient(180deg, #ff8471, #ff3b3b);
}

#detailedimage{
    height:300px;
    width:300px;
}
#details{

    text-align: center;
}




#pikachu{
    float:right;
}


#pokemonname{
    font-family:"Pokemon";
    font-size: 35px;
    background: linear-gradient(180deg, #ff8471, #ff3b3b);
    border: 2px solid black;
}

#pokeimage{
    height:300px;
    width:300px;
}

#detailedname{
    font-family:"Pokemon";
    font-size: 35px;
}
#details{
    background: linear-gradient(180deg, #ff8471, #ff3b3b);
    font-size: large;
    font-weight: bold;
    text-align: center;
}


#nextandprev{
    height:80px;
    padding: 80px;

}
#prevbutton{
    font-family:"Pokemon";
    font-size: 35px;
    background: linear-gradient(180deg, #ff8471, #ff3b3b);
    border: 2px solid black;
}
#nextbutton{
    font-family:"Pokemon";
    font-size: 35px;
    background: linear-gradient(180deg, #ff8471, #ff3b3b);
    border: 2px solid black;
}

input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
  input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration { display: none; }
  